.section--locations {
    padding: 5px;
    
}

.locations {
    text-align: center;
    border: 1px dotted black;
    align-content: center;
    background: #ffad36b5;
    border-radius: 10px;
}
.header--locations {
    text-align: center;
}