.section--locations {
    display: flex;
    padding: 5px;
    justify-content: space-between;
    
}

.locations {
    text-align: center;
    border: 1px dotted black;
    align-content: center;
    background: #ffad36b5;
    border-radius: 10px;
    padding: 0em;
    margin: 0em;
    width: 200px;
    
}
.header--locations {
    text-align: center;
}