@import'./fish.css';
@import'./locations.css';
@import'./quotes.css';


.logo img {
    border-radius: 100%
}

.header {
    display: flex;
    border: 1px dotted black;
    background: #03b6d7;
}

.title {
    display: flex;
    margin: auto;
    color: #001336;
}

.header--martin {

}

.main {
    text-align: center;
    display: flex;
    flex-basis: auto;
}

.left {
    border: 1px dotted black
    display: flex;
     
}

.right {
    text-align: left;
    flex: 0.6;
}

.care_tips_right {
    border: 1px dotted black;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffad36b5;
}

img {
    width: 10rem;
    border-radius: 10%
}

.footer {
    text-align: center;
 
    justify-content: center;
    background-color: #03b6d7;
}