@import'./fish.css';
@import'./locations.css';
@import'./quote.css';
@import'./quotes.css';


.logo img{
    border-radius: 100%
    width: 10rem;
}

.header {
    display: flex;
    border: 1px dotted black;
    background: #03b6d7;
}

.title {
    display: flex;
    margin: auto;
    color: #001336;
}

.header--martin {

}

.main {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.left {
    border: 1px dotted black
    flex: auto;   
}

.right {
    text-align: left;
    flex: 3;
}

.care_tips_right {
    border: 1px dotted black;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffad36b5;
}

img {
    width: 10rem;
    border-radius: 10%
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #03b6d7;
}